#banner {
  display: flex;
  position: relative;
  max-width: 1240px;
  justify-content: space-between;


  #imgbanner {
    max-width: 100vw;
    height: 800px;
    object-fit: fill;
    object-position: center;
    position: relative;
    opacity: 0.5;
    animation-name: back;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes back {
  0%{
    filter:hue-rotate(0deg);
  }
  100%{
    filter:hue-rotate(360deg);
}

}

  #tag {
    position: absolute;
    color: rgb(12, 103, 103);
    font-family: "Roboto", sans-serif;
    font-size: 80px;
    font-weight: 700;
   // margin-left: 500px;
    z-index: 1000;
    margin: 200px 200px;
    transition: opacity 0.5s ease-in-out; 

  }
  #about{
    position: absolute;
    color: rgb(12, 103, 103);
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 300;
    z-index: 1000;
    margin: 260px 900px;
    transition: opacity 0.5s ease-in-out;
    width: 300px;
  }
}




@media (max-width: 768px) {
  #banner{
    justify-content: center;
  }
  #banner #imgbanner {
    height: 600px;
    width: 100%;
  }
  #banner #tag{
    font-size: 40px;
    margin-top: 100px;
    text-align: center;
  }
  #banner #about {
    font-size: 15px;
    margin-top: 380px;
    width: 200px;
    text-align: justify;
  }
}