#footer{
    display: flex;
    flex-direction: column;
    padding-top: 150px;
    background: rgb(12, 103, 103);
    padding-bottom: 80px;
    height: 800px;
}

.form__contenair{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.form__title{
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.form__mail{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-shadow: 0 0 32px 0 rgba(0, 0, 0, 0.15);
    cursor: pointer;
    width: 500px;
    padding: 16px;
    border: 0;
    font-family: 'Roboto';
}
.form__message{
    box-shadow: 0 0 32px 0 rgba(0, 0, 0, 0.15);
    cursor: pointer;
    width: 500px;
    padding: 16px;
    font-family: 'Roboto';
    height: 300px;
}
.form__button{
    background-color:rgb(230,179,176);
    border: 0;
    padding: 10px;
    color: $nav-color;
    margin-top: 20px;
    width: 100px;
    font-size: $font-m;
    font-weight: $font-w-m;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: darken(rgb(230,179,176), 10%);
    }

    &:active {
        background-color: darken(rgb(230,179,176), 20%);
        color: white;
    }
}
// @media (max-width: 768px){
//     .footer{
//        margin: 0 auto;
//         p{
//         font-size: $font-s;
//         }
//     }
// }

// ...

@media (min-width: 769px) and (max-width: 1024px) {
    // Styles for tablets go here
    .form__mail, .form__message {
        width: 80%; // Adjust the width for tablets
    }
}

@media (max-width: 768px) {
    // Styles for mobiles go here
    #footer {
        padding-top: 50px;
    }

    .form__mail  {
        width: 80%; 
        height: 40px;
        margin: 0;
        padding: 0;
        // Adjust the width for mobiles
    }
    .form__message {
        width: 80%; 
        margin: 0;
        padding: 0;
        // Adjust the width for mobiles
    }

    .form__title {
        font-size: 16px; // Adjust the font size for mobiles
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .form__button {
        width: 80px; // Adjust the width for mobiles
        font-size: 14px; // Adjust the font size for mobiles
    }
}