.projects__container{
    display: flex;
    padding: 112px 85px;

    gap: 80px;


.projects__image{
    width: 50vw;

}

.projects__links{

    display: flex;
    flex-direction: row;
}


    .projects__content{
        display: flex;
        flex-direction: column;

    }
    .projects__content--title{
    font-size: 24px;
    font-weight: 00;
    line-height: 34px;
    font-family: 'Roboto', sans-serif;
    color: $nav-color;
    }
    .projects__contents{
        display: flex;
        flex-direction: column;
    }
    .projects__content--p{
       font-family: 'Roboto', sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;  
        
    }

    .projects__cards{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 42.6px;
    width: 100%;
    }
    .projects__content--git{
        width: 2vw;
    }
}