.navigation {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 85.333px;
  background: white;
  box-shadow: 0px 5.333px 80px 0 rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;


  .navigation__ul {
    display: flex;
    justify-content: space-between;
    padding: 0;
    list-style: none;
    gap: 50px;
  }

//   .navigation__li a  {
//     font-family: "Roboto", sans-serif;
//     font-size: $font-xl;
//     font-weight: $font-w-m;
//     color: $nav-color;
//   }
// }

// .nav-active {
//   position: relative;


//   &::after {
//     content: "";
//     height: 2px;
//     width: 100%;
//     background: $nav-color;
//     position: absolute;
//     bottom:0;
//     left: 0;
//     -webkit-animation: anim 0.3s ease forwards;
//     animation: anim 0.6s ease forwards;

//     @-webkit-keyframes anim {
//       to {
//         width: 100%;
//       }
//     }
//     @keyframes anim {
//       to {
//         width: 100%;
//       }
//     }
//   }
// }
.navigation__li a {
  font-family: "Roboto", sans-serif;
      font-size: $font-m;
      font-weight: $font-w-m;
      color: $nav-color;
  &:hover, &.nav-active {
    position: relative;

    &::after {
      content: "";
      height: 2px;
      width: 100%;
      background: $nav-color;
      position: absolute;
      bottom:0;
      left: 0;
      -webkit-animation: anim 0.3s ease forwards;
      animation: anim 0.6s ease forwards;

      @-webkit-keyframes anim {
        to {
          width: 100%;
        }
      }
    }
  }
}
}
@media (max-width: 768px) {
  .navigation {
    padding: 20px;

    img {
     width: 30%;
     margin: 0;
    }
    .navigation__ul{
      gap:0;
      margin-right: -25px;
    }
    .navigation__li a{
      font-size: $font-s;
      margin-right: 20px;
      text-transform: uppercase;
    }
  }
}

