ul a {
  list-style-type: none;
  text-decoration: none;
  outline: none;
  display: inline; /* Make the link an inline element */
  margin-bottom: 0; /* Remove bottom margin */
  padding-bottom: 0;
}

*::before, ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box
}

body {
  margin: 0;
  padding: 0;
  //padding: 0 20px;
}

//FONT
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

$font: 'Roboto', sans-serif;

//FONT SIZE
$font-xxl: 48px;
$font-xl: 24px;
$font-l: 20px;
$font-ml:16px;
$font-m: 14px;
$font-s: 12px;
$font-xs: 10px;

//FONT WEIGHT
$font-w-xl: 700;
$font-w-m: 500;
$font-ml: 400;
$font-s: 300;

//COLORS
$color-primary: #FF6060;
$nav-color:rgb(12, 103, 103);
$pink-color:rgb(230,179,176);
$pink-light:rgb(230, 179, 176, 20%);

$shadow:0 0 32px 0 rgba(0, 0, 0, 0.15);
